*{
    margin: 0;
    padding: 0;
}
.error {
    color: red;
    font-size: 12px;
}
body{
    background-color: rgb(228, 228, 228);
}
.mtavari
{
    margin: auto;
    width: 900px;
    height: 550px;
    background-color: white;
   display: flex;
   margin-top: 80px;
}

.nomeri{
    margin-top: -490px;
    margin-left: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nomeri>.erti>button{
     background-color: rgb(173, 232, 255);
     border-radius: 360px;
     border: solid 1px white;
     width: 35px;
     height: 35px;
     font-size: 19px;
     margin-top: 10px;
     margin-bottom: 20px;
}
.erti{
    display: flex;
}
.erti>.txt{
   margin-left: 10px;
   margin-top:8px ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.erti>.txt>p{
    font-size: 15px;
    color: rgb(211, 210, 210);
}
.nomeri>.ori>button{
    background-color: transparent;
    border-radius: 360px;
    border: solid 1px white;
    width: 35px;
    height: 35px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    margin-bottom: 20px;
}
.ori{
    display: flex;
}
.ori>.txt2{
   margin-left: 10px;
   margin-top:8px ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ori>.txt2>p{
    font-size: 15px;
    color: rgb(211, 210, 210);
}
.nomeri>.sami>button{
    background-color: transparent;
    border-radius: 360px;
    border: solid 1px white;
    width: 35px;
    height: 35px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    margin-bottom: 20px;
}
.sami{
    display: flex;
}
.sami>.txt3{
   margin-left: 10px;
   margin-top:8px ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sami>.txt3>p{
    font-size: 15px;
    color: rgb(211, 210, 210);
}
.nomeri>.otxi>button{
    background-color: transparent;
    border-radius: 360px;
    border: solid 1px white;
    width: 35px;
    height: 35px;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}
.otxi{
    display: flex;
}
.otxi>.txt4{
   margin-left: 10px;
   margin-top:8px ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.otxi>.txt4>p{
    font-size: 15px;
    color: rgb(211, 210, 210);
}
.text{
    margin-left: 60px;
    margin-top: 60px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text>h1{
    margin-bottom: 9px;
    color: rgb(29, 29, 75);
}
.text>p{
    color: rgb(158, 157, 157);
    margin-bottom: 50px;
}
form,label{
 font-weight: 600;
    color: rgb(29, 29, 75);
   
}
form,input{
    width: 430px;
    height: 40px;
    border-radius: 10px;
   padding: 5px ;
   margin-bottom: 15px;
   margin-top: 5px;
}
.btn{
    margin-top: 250px;
}
.btn>button{
    width: 120px;
    height: 40px;
    margin-left: 330px;
    background-color: rgb(4, 4, 85);
   
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn>button>a{
    color: white;
    text-decoration: none;
}